# Ignorar a pasta downloads
downloads/*

# Arquivos temporários
*.tmp
temp-*
*.log

anime-list.txt
anime-images-cache.json
cancel-download.signal
download-status.json
config.json
watched-episodes.json